*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 5%, 85%);
}

.main {
  width: min(95%, 80rem);
  margin: 10rem auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}

@media (max-width: 450px) {
  .flex-container {
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
  }
}

.img-round {
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border: 4px solid #fff;
  box-shadow: 16px 12px 39px -14px rgba(0, 0, 0, 0.62);
}

.img-round:hover {
  scale: 2;
  z-index: 2;
  box-shadow: 10px 10px 43px 10px rgba(0, 0, 0, 0.62);
}

.img-round:hover + .img-round {
  scale: 1.6;
  box-shadow: 10px 10px 43px 4px rgba(0, 0, 0, 0.62);
}


/* .img-round:hover + .img-round,
.img-round:has(+ .img-round:hover) {
  scale: 1.6;
  box-shadow: 10px 10px 43px 4px rgba(0, 0, 0, 0.62);
} */
